h1 {
color: #66cdaa
}

h2 {
color: #66cdaa
}

p {
color: #fff
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background-color: #191919
}

nav {
  background-color: #191919;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

        .image-container {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .image-container img {
            width: 190px;
}

header {
  background-color: #191919;
  padding: 20px;
}

main {
  margin: 20px;
}

h2 {
  color
}

.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.1rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 6px;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

        body {
            font-family: Arial, sans-serif;
            background-color: #191919;
        }

        .search-container {
            max-width: 350px;
            margin: 0 auto;
            padding: 18px;
            background-color: #202020;
            border-radius: 15px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .search-container input[type="text"] {
            width: 94%;
            padding: 10px;
            font-size: 18px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
        }

        .search-container input[type="submit"] {
            display: block;
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            font-size: 16px;
            color: #fff;
            background-color: #4285f4;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
}
